[client]

# In 5.5, this defaults to UTF-8, which causes encoding problems with
# UTF-8 encoded text data in the wiki database.  Force it back to
# Latin-1 to preserve the 5.1 client behaviour.

default-character-set=latin1

[mysql]
# comments are stripped out by default. That's a problem with 
# /* SLOW_OK */ so disable it here. Because not all programms 
# (for example mysqlcheck) understans comments, enable it 
# only for the mysql-commandline-tool.
# Disabled until 31.Aug. --DaB.

#comments

